<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="theme-color" content="#fff">
	<meta name="msapplication-navbutton-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>André Brandão</title>

  {% block style %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="/assets/css/index.min.css">
  {% endblock %}

</head>
<body>

<div id="header">
  Setup
</div>

{% block content %}
<section id="page-home" role="main">
  <div class="wrapper">
    <div class="container">


    </div>
  </div>
</section>
{% endblock %}

<div id="footer">

</div>
{% block script %}
<script src="/assets/js/bundle.min.js"></script>
{% endblock %}
</body>
</html>
