<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="theme-color" content="#020225">
	<meta name="msapplication-navbutton-color" content="#020225">
	<meta name="apple-mobile-web-app-status-bar-style" content="#020225">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>André Brandão</title>

  {% block style %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/index.min.css">
  {% endblock %}

</head>
<body>

{% block content %}

<!-- home Section  -->
<section id="home" class="section primary">
  <div class="container align-start">
    <a href="http://github.com/andrebrandaoo" title="Github" class="github"><i class="fa fa-github"></i></a>
  </div>
  <div class="container align-center">
    <h1 class="name"> &lt;André Brandão /&gt; </h1>
    <h2 class="skill"> { Desenvolvedor Frontend } </h2>
  </div>
  <div class="container align-end">
    <button type="button" class="button icon bottom">
      <i class="fa fa-chevron-down"></i>
    </button>
  </div>
</section>

<!-- About Section -->
<section id="about" class="section secondary">
  <div class="container align-start">
    <button type="button" class="button icon top">
      <i class="fa fa-chevron-up"></i>
    </button>
  </div>

  <div class="container align-center">
    <img class="pic" src="/assets/img/me.png" alt="">
    <p class="bio">
      Atualmente morando em Curitiba, Trabalho com desenvolvimento de sites e blogs sempre buscando por tecnologias atuais, prezando pela qualidade do serviço.
    </p>
  </div>

  <div class="container align-end">
    <button type="button" class="button icon bottom">
      <i class="fa fa-chevron-down"></i>
    </button>
  </div>
</section>

<!-- Jobs Section -->
<section id="jobs" class="section light-gray">
  <div class="container align-start">
    <button type="button" class="button icon top">
      <i class="fa fa-chevron-up"></i>
    </button>
  </div>

  <div class="container align-center">
    <div id="jobs-list">
      <div class="item">
        <h3>Dio Ferri Camisaria</h3>
        <a href="http://fg1.com.br" target="_blank" class="at">FG1</a>
        <a href="http://dioferricamisaria.com.br/" class="tooltip" target="_blank" title="Acesse o site DioFerri">
          <img src="/assets/img/dioferri.png" alt="Dio Ferri Camisaria">
        </a>
      </div>
      <div class="item">
        <h3>Marcieli Martins</h3>
        <a href="http://fg1.com.br" target="_blank" class="at">FG1</a>
        <a href="http://marcielimartins.com.br" target="_blank" class="tooltip" title="Acesse o site Marcieli Martins">
          <img src="/assets/img/marcieli.png" alt="Marcieli Martins">
        </a>
      </div>
      <div class="item">
        <h3>Das Humanas</h3>
        <a href="http://fg1.com.br" target="_blank" class="at">FG1</a>
        <a href="http://dashumanas.com.br/" target="_blank" class="tooltip" title="Acesse o site DasHumanas">
          <img src="/assets/img/dashumanas.png" alt="DasHumanas">
        </a>
      </div>
    </div>
  </div>

  <div class="container align-end">
    <button type="button" class="button icon bottom">
      <i class="fa fa-chevron-down"></i>
    </button>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="section primary">
  <div class="container align-start">
    <button type="button" class="button icon top">
      <i class="fa fa-chevron-up"></i>
    </button>
  </div>

  <div class="container align-center">
    <div class="box">
      <span class="icons">
        <i class="fa fa-whatsapp "></i>
        <i class="fa fa-telegram "></i>
      </span>
      <a href="#">041 998547656</a>
    </div>
    <div class="box">
      <span class="icons">
        <i class="fa fa-envelope"></i>
      </span>
      <a href="#">andrebf4@gmail.com</a>
    </div>
    <div class="box">
      <span class="icons">
        <a href="http://github.com/andrebrandaoo" title="github"><i class="fa fa-github-square"></i></a>
        <a href="http://facebook.com/andrebrandaoo" title="facebook"><i class="fa fa-facebook-official"></i></a>
        <a href="http://twitter.com/andrebrandaoo" title="twitter"><i class="fa fa-twitter-square"></i></a>
      </span>
      andrebrandaoo
    </div>
    <div class="box">
      <span class="icons">
        <i class="fa fa-download"></i>
      </span>
      <a href="#">Download Currículo</a>
    </div>
  </div>

  <div class="container align-end">

  </div>

</section>

{% endblock %}

{% block script %}
<script src="/assets/js/bundle.min.js"></script>
{% endblock %}
</body>
</html>
