html,
body{
  margin: 0;
  padding: 0;
  font-family: 'GothamRounded';
  color: #7a7a7a;
  height: 100%;
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {margin: 0;}

a{
  text-decoration: none;
  color: #7a7a7a;
}

.container{
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  clear: both;
  font-size: 0.9em;
  font-weight: 200;
}
