.profile{
  text-align: center;
  color: #fff;
}

.profile img{
  display: block;
  margin: 22px auto;
}

.profile .name{
  width: 100%;
  font-weight: 400;
  font-size: 3em;
  display: block;
}
.profile .skills{
  font-weight: 200;
  font-size: 1.5em;
}
