.section{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.section.one{
  background: #efefef;
  padding: 0;
}

.bio{
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding-top: 20px;
  min-height: 400px;
  margin-top: 40px;
}
@media (max-width:1000px){
  .bio{
    padding-top: 95px;
  }
}

.bio p{
  max-width: 650px;
  margin: 30px 15px;
  position: relative;
}

@media (max-width:1000px) {
  .bio p{
    max-width: 100%;
    text-align: center;
  }
}

.figure{
  width: 250px;
  height: 250px;
  position: absolute;
  overflow: hidden;
  border-radius:50%;
  border: 10px solid #526e82;
  padding: 0;
  top: 50%;
  right: -70px;
  margin-top: -125px;
}
.img.about{
  width: 100%;
  height: auto;
  position: relative;
}

@media (max-width:1000px) {
  .figure{
    width: 125px;
    height: 125px;
    border-width: 5px;
    top: 92px;
    right: 50%;
    margin-right: -62.5px;
  }
}
