.button
  display block
  cursor pointer
  border none
  background transparent
  text-align center
  max-width 200px
  margin 0 auto
  display block
  &.icon
    font-size 56px
    i
      color $colors['light']
