#contact
  .button
    &.top
      margin-top 40px

  .icons
    display block

  .box
    width 100%
    padding 15px 0
    text-align center
    color #f1f1f1
    margin 15px 0
    font-size 2rem
    background $colors['secondary']
