#inicio
  .name
    font-size 52px
    text-align center
    color $colors['light']

  .skill
    text-align center
    font-size 36px
    margin-top 40px
    color $colors['light']

  .button
    margin-bottom 40px

  .container.align-start
    text-align right
  .github
    display block
    margin-top 20px
    font-size 36px
    text-align right
    color $colors['light']
