#jobs
  .button
    &.top
      margin-top 40px
    &.bottom
      margin-bottom 40px

  .container
    position relative

  #jobs-list
    z-index 10
    max-width 750px
    margin 0 auto
    overflow hidden
    .item
      float left
      &:focus
        outline none
      img
        width 100%

      h3
        margin-bottom 5px
        color $colors['secondary']

      .at
        margin-bottom 10px
        display block
        color $colors['fg1']

  .prevArrow
    position absolute
    top 50%
    left 10px
    margin-top -20px !important
    display block

  .nextArrow
    position absolute
    top 50%
    right 10px
    margin-top -20px !important
    display block
