bp = {
  mobile: 414px,
  tablet: 768px,
  desktop: 1050px
}

max-width = 1200px

path = {
  assets: '../assets/'
}

$colors = {
  primary: #020225,
  secondary: #045d73,
  light: #05ddf2,
  light-gray: #f1f1f1,
  fg1: #f58634
}

font = {
  default: {
    name: 'Roboto',
    weight: normal
  }
}

circle()
  border-radius 50%

size(w, h)
  width w
  height h
  position relative
