/*
    //======================//
    //= Find in this file =//
    //====================//
    @Reset
    @Details
    @Debug
    @Buttons
    @Grid
    @Hero
    @Introduction
    @Sections
    @Box
    @Card
    @About
    @Portfolio
    @Form
    @Label
    @Contact
    @Modal
    @ModalJob
    @Thumbnail
    @Animations

    //===========//
    //= Colors =//
    //=========//

    @Primary = #fed766
    @Default = #252a30
    @Warning = #febc66
    @Danger = #fe6666
    @Info = #66befe
    @Success = #66fe96
*/

/* @Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}

html { font-size: 62.5%; }

html, body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  color: #252a30;
}

img { max-width: 100%; }

a, a:hover,
a:active { text-decoration: none; }

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover.full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

/* @Details */
::-moz-selection { background: #fed766; color: #252a30; }
::selection { background: #fed766; color: #252a30; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #252a30;
}

::-webkit-scrollbar-thumb:window-inactive { background: rgba(100,100,100,0.4); }

/* @Debug */
.debug { border: 1px solid red; }

/* FontColor */
.f-primary { color: #fed766; }
.f-default { color: #252a30; }
.f-warning { color: #febc66; }
.f-danger { color: #fe6666; }
.f-info { color: #66befe; }
.f-success { color: #66fe96; }

/* @Buttons */
.btn {
  cursor: pointer;
  height: auto;
  padding: 1.2rem 3.2rem;
  font-size: 1.3rem;
  line-height: normal;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .3s ease-in-out;
  letter-spacing: 0;
  border-radius: 10px;
  border: 2px solid;
  display: inline-block;
}

.btn.block { display: block; width: 100%; }

.btn:focus,
.btn:active { outline: none; }

.btn.default { color: #252a30; background-color: transparent; border: 2px solid #fed766; }
.btn.default:hover,
.btn.default:active,
.btn.default:focus { color: #252a30; background-color: #fed766; border: 2px solid #fed766; }

.btn.primary { color: #FFF; background-color: transparent; border: 2px solid #fed766; }
.btn.primary:hover,
.btn.primary:active,
.btn.primary:focus { color: #252a30; background-color: #fed766; border: 2px solid #fed766; }

.btn.secondary { color: #252a30; background-color: transparent; border: 2px solid #252a30; }
.btn.secondary:hover,
.btn.secondary:active,
.btn.secondary:focus { color: #fed766; background-color: #252a30; border: 2px solid #252a30; }

.btn.warning { color: #252a30; background-color: transparent; border: 2px solid #febc66; }
.btn.warning:hover,
.btn.warning:active,
.btn.warning:focus { color: #252a30; background-color: #febc66; border: 2px solid #febc66; }

.btn.danger { color: #252a30; background-color: transparent; border: 2px solid #fe6666; }
.btn.danger:hover,
.btn.danger:active,
.btn.danger:focus { color: #252a30; background-color: #fe6666; border: 2px solid #fe6666; }

.btn.info { color: #252a30; background-color: transparent; border: 2px solid #66befe; }
.btn.info:hover,
.btn.info:active,
.btn.info:focus { color: #252a30; background-color: #66befe; border: 2px solid #66befe; }

.btn.success { color: #252a30; background-color: transparent; border: 2px solid #66fe96; }
.btn.success:hover,
.btn.success:active,
.btn.success:focus { color: #252a30; background-color: #66fe96; border: 2px solid #66fe96; }

/* @Grid */
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 0 -10px;
}

.col {
  padding: 10px;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.col.center { margin: 0 auto; }

.col.is-10 { width: 10%; flex: none; }
.col.is-20 { width: 20%; flex: none; }
.col.is-30 { width: 30%; flex: none; }
.col.is-40 { width: 40%; flex: none; }
.col.is-50 { width: 50%; flex: none; }
.col.is-60 { width: 60%; flex: none; }
.col.is-70 { width: 70%; flex: none; }
.col.is-80 { width: 80%; flex: none; }
.col.is-90 { width: 90%; flex: none; }
.col.is-00 { width: 100%; flex: none; }

.col.is-2 { width: 16.66667%; flex: none; }
.col.is-3 { width: 25%; flex: none; }
.col.is-4 { width: 33.33333%; flex: none; }
.col.is-5 { width: 41.66667%; flex: none; }
.col.is-6 { width: 50%; flex: none; }
.col.is-7 { width: 58.33333%; flex: none; }
.col.is-8 { width: 66.66667%; flex: none; }
.col.is-9 { width: 75%; flex: none; }
.col.is-10 { width: 83.33333%; flex: none; }
.col.is-11 { width: 91.66667%; flex: none; }

@media (max-width: 768px) {
  .col.is-2:not(.mobile), .col.is-3:not(.mobile), .col.is-4:not(.mobile),
  .col.is-5:not(.mobile), .col.is-6:not(.mobile), .col.is-7:not(.mobile),
  .col.is-8:not(.mobile), .col.is-9:not(.mobile), .col.is-10:not(.mobile),
  .col.is-11:not(.mobile), .col.is-10:not(.mobile), .col.is-20:not(.mobile),
  .col.is-30:not(.mobile), .col.is-40:not(.mobile), .col.is-50:not(.mobile),
  .col.is-60:not(.mobile), .col.is-70:not(.mobile), .col.is-80:not(.mobile),
  .col.is-90:not(.mobile),.col.is-00:not(.mobile) { width: 100%; }
}

/* @Hero */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../images/introduction.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
}

.hero:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
  z-index: 0;
}

.hero-container {
  width: 100%;
  margin: 0;
  position: relative;
  z-index: 10;
  display: block;
}

@media (max-width: 414px) {
  .hero { height: 70vh; }
}

/* @Introduction */
#introduction .logo {
  max-width: 768px;
  margin: 0 auto;
}

#introduction .logo path {
  fill: transparent;
  stroke: #FFF;
  stroke-width: 1px;
  stroke-dasharray: 155;
  stroke-dashoffset: 155;
  animation: draw 2s linear forwards;
}

#introduction h3 {
  color: #FFF;
  font-size: 3.5rem;
  opacity: 0;
  animation: fadein .5s 2s linear forwards;
  text-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

#introduction .btn {
  opacity: 0;
  animation: fadein .5s 2.5s linear forwards;
}

/* @Sections */
.section {
  padding: 50px 0;
}

.section.gray {
  background-color: #eee;
  /*background-image: url('../images/dark-wall.png');*/
  background-repeat: repeat;
}

.section .section-title {
  font-size: 3rem;
  font-weight: 700;
}

.section .section-sub {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 15px;
}

/* @Box */
.box i:before { font-size: 5.0rem; }
.box .box-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* @Card */
.card {
  background: white;
  width: 100%;
  display: inline-block;
  margin: auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: -1px 15px 30px -12px rgba(0, 0, 0, .2);
  transition: all .5s;
}

.card-header,
.card-body,
.card-footer {
  width: 100%;
  position: relative;
  padding: 10px;
}

.card-body {
  height: auto;
}

.card-footer {
  border-top: 1px solid #eee;
  text-align: center;
}

.card-footer .btn + .btn { margin-left: 5px; }

/* @About */
#about .box p {
  margin:0;
  font-size: 1.5rem;
  padding: 0 10px 10px 10px;
  font-weight: 300;
}

/* @Portfolio */
.card.portfolio { cursor: pointer; }
.card.portfolio:hover { box-shadow: -1px 15px 30px -12px rgba(0, 0, 0, .5); }

.card.portfolio .card-header {
  height: 150px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.card.portfolio .label {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card.portfolio .cover.full {
  transition: all .4s;
  border-radius: 10px 10px 0 0;
}

.card.portfolio:hover .cover.full { transform: rotate(-5deg) scale(1.5); }

.card.portfolio:hover .btn.default { color: #252a30; background-color: #fed766; border: 2px solid #fed766; }

/* @Form */

.input + .input {
  margin-top: 15px;
}

.input label {
  display: block;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.input.error label {
  color: #fe6666;
}

.input input,
.input textarea {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 1.2rem;
  border-radius: 10px;
  border: 2px solid #252a30;
  background-color: transparent
}

.input input:focus,
.input textarea:focus,
.input.error input:focus,
.input.error textarea:focus {
  border-color: #fed766;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.input.error input,
.input.error textarea {
  border-color: #fe6666;
}

/* @Label */

.label {
  width: auto;
  background: #252a30;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fed766;
  font-weight: 700;
  padding: 0 15px;
  border-radius: 10px;
}

/* Contact */
.card.contact .card-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.contact .card-header h3 {
  position: relative;
  z-index: 10;
  font-size: 1.8rem;
}

.card.contact .card-header i {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
  opacity: .5;
}

.card.contact .card-header i:before { font-size: 6rem; }

/* @Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;
}

.modal .modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 0;
}

.modal .modal-container {
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  padding: 20px 10px;
  z-index: 10;
  overflow: auto;
}

.modal .close {
  background: none;
  background-color: #252a30;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fed766;
  border: none;
  position: absolute;
  top: -10px;
  cursor: pointer;
  right: 10px;
  transition: all .4s;
}

.modal .close:active,
.modal .close:focus {
  outline: none;
  opacity: .8;
}

.modal .close i:before { font-size: 2rem; }

/* @ModalJob */
.job-description p { font-size: 1.5rem; }
.job-description p + p { margin-top: 10px; }

/* @Thumbnail */
.thumbnail {border-radius: 10px; }

/* @Animations */
@keyframes fadein {
  to { opacity: 1; }
}

@keyframes draw {
  80% { stroke-dashoffset: 0; fill: transparent; }
  100% { stroke-dashoffset: 0; fill: #fff; }
}
